<svg
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  viewBox="0 0 64 64"
  ><g data-name="14-Map">
    <title>Map</title>
    <path
      d="M63 9v46a4.941 4.941 0 0 0-1-3 5.01 5.01 0 0 0-4-2h-3V4h3a5 5 0 0 1 5 5z"
      style="fill:#edf4fa"></path><path
      d="M62 52a4.941 4.941 0 0 1 1 3 5 5 0 0 1-5 5H1V14h7.32a11.252 11.252 0 0 0 2.44 4H5v38h53s4 0 4-4z"
      style="fill:#c1cfe8"></path><path
      d="M58 50a5.01 5.01 0 0 1 4 2c0 4-4 4-4 4H5V18h5.76c1.41 1.68 2.84 3.26 2.84 5.64a2.4 2.4 0 0 0 4.8 0c0-2.38 1.43-3.96 2.84-5.64H55v32zm-7-4v-4l-8-5-8 5v4l2-1.25V52h12v-7.25zm-20-5v-6h-6v6zm-14 7v-6h-6v6z"
      style="fill:#4989f4"></path><path
      d="M55 14v4H21.24a11.252 11.252 0 0 0 2.44-4z"
      style="fill:#c1cfe8"></path><path
      style="fill:#edf4fa"
      d="M49 44.75 43 41l-6 3.75L35 46v-4l8-5 8 5v4l-2-1.25z"></path><path
      style="fill:#c1cfe8"
      d="M49 44.75V52h-4v-6h-4v6h-4v-7.25L43 41l6 3.75z"></path><path
      style="fill:#edf4fa"
      d="M41 46h4v6h-4z"></path><path style="fill:#ffdd52" d="M25 35h6v6h-6z"
    ></path><path
      d="M21.24 18c-1.41 1.68-2.84 3.26-2.84 5.64a2.4 2.4 0 0 1-4.8 0c0-2.38-1.43-3.96-2.84-5.64a11.252 11.252 0 0 1-2.44-4A6.867 6.867 0 0 1 8 11.86a8 8 0 0 1 16 0 6.867 6.867 0 0 1-.32 2.14 11.252 11.252 0 0 1-2.44 4zM19 12a3 3 0 1 0-3 3 3 3 0 0 0 3-3z"
      style="fill:#e63b47"></path><circle
      cx="16"
      cy="12"
      r="3"
      style="fill:#96272e"></circle><path
      style="fill:#ffdd52"
      d="M11 42h6v6h-6z"></path><path
      d="M60 47a2 2 0 0 1-2-2V4h-3v46h3a5.01 5.01 0 0 1 4 2 4.941 4.941 0 0 1 1 3v-5a3 3 0 0 0-3-3z"
      style="fill:#d6e0eb"></path><path
      d="M16 8a4 4 0 1 0 4 4 4 4 0 0 0-4-4zm0 7a3 3 0 1 1 3-3 3 3 0 0 1-3 3z"
      style="fill:#b32e37"></path><path
      d="M7.257 18h3.5a11.252 11.252 0 0 1-2.44-4H6.01a6.844 6.844 0 0 0 .31 2 7.96 7.96 0 0 0 .937 2z"
      style="fill:#a8b7d4"></path><path
      d="M11.6 25.64a2.4 2.4 0 0 0 4.767.324A2.467 2.467 0 0 1 16 26a2.38 2.38 0 0 1-2.4-2.36c0-2.38-1.43-3.96-2.84-5.64h-3.5a18.548 18.548 0 0 0 1.5 2c1.41 1.68 2.84 3.26 2.84 5.64z"
      style="fill:#335fab"></path><path
      style="fill:#edf4fa"
      d="M32 51.5h2v1h-2zM21 23.5h2v1h-2z"></path><path
      d="M62 52a3.744 3.744 0 0 1-1.115 2.879 6.809 6.809 0 0 1 1.592 2.306A4.927 4.927 0 0 0 62 52z"
      style="fill:#8394b2"></path><path
      d="M51 42v11h5.2a6.774 6.774 0 0 1 4.685 1.879A3.744 3.744 0 0 0 62 52a5.01 5.01 0 0 0-4-2h-3V18h-4z"
      style="fill:#335fab"></path><path style="fill:#8394b2" d="M51 14h4v4h-4z"
    ></path><path
      style="fill:#a8b7d4"
      d="m43 41.125-6 3.75v2l6-3.75 6 3.75v-2l-6-3.75z"></path><path
      style="fill:#d6e0eb"
      d="M35 44.125v2l2-1.25 6-3.75 6 3.75 2 1.25v-2l-8-5-8 5z"></path><path
      d="M30 52.5h-7a2.5 2.5 0 0 1-2.5-2.5V40a1.5 1.5 0 0 0-1.5-1.5h-8A2.5 2.5 0 0 1 8.5 36v-3a2.5 2.5 0 0 1 2.5-2.5h38a1.5 1.5 0 0 0 1.5-1.5v-3a1.5 1.5 0 0 0-1.5-1.5H25v-1h24a2.5 2.5 0 0 1 2.5 2.5v3a2.5 2.5 0 0 1-2.5 2.5H11A1.5 1.5 0 0 0 9.5 33v3a1.5 1.5 0 0 0 1.5 1.5h8a2.5 2.5 0 0 1 2.5 2.5v10a1.5 1.5 0 0 0 1.5 1.5h7z"
      style="fill:#edf4fa"></path></g
  ></svg
>
