---
import Hero from '../components/about/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aníbal Alpízar's portfolio">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
