---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aníbal Alpízar's portfolio">
  <main>
    <h1>About</h1>
    <p>Esta es la página de About.</p>
  </main>
</Layout>


<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
