---
import Experience from '../components/index/Experience.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aníbal Alpizar's portfolio">
  <main>
    <Experience />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
