---
import Layout from "../layouts/Layout.astro"
import Section from "../components/commons/Section.astro"
import ProjectCard from "../components/projects/ProjectCard.astro"
import { projects } from "../data/projects.json"
import SearchBar from "../components/projects/SearchBar.astro"
---

<Layout title="Projects - Aníbal Alpízar">
  <main>
    <Section>
      <h1>Projects</h1>
      <!-- <SearchBar /> -->
      <div class="projects-grid">
        {projects.map((project) => <ProjectCard {...project} />)}
      </div>
    </Section>
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--text-main);
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (max-width: 768px) {
    main {
      padding: 0 1rem;
    }
  }
</style>
