---

---

<a href="/" class="logo">
  <h1>Aníbal Alpízar</h1>
</a>

<style>
  .logo {
    text-decoration: none;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-main);
    transition: color 0.3s ease;
  }

  .logo:hover h1 {
    color: var(--text-secondary);
  }
</style>
