---
import { basics } from '../data/cv.json'
import Section from './Section.astro'
import GitHub from '../icons/Github.astro'
import { type SocialIcon } from '../types/types'

const { name, profiles } = basics

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
}
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <div class="buttons">
        <div class="social-icons">
          <a
            href="/about"
            title="About Me"
            target="_self"
            rel="noopener noreferrer"
            class="about-link"
          >
            <span>About</span>
          </a>
          {
            profiles.map(({ network, url }) => {
              const Icon = SOCIAL_ICONS[network]

              return (
                <a
                  href={url}
                  title={`Visit my ${network} profile`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <Icon />
                  <span>Follow</span>
                </a>
              )
            })
          }
        </div>
      </div>
    </div>
  </div>
</Section>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.2rem;
    margin: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .social-icons {
    display: flex;
    align-items: center;

    a {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #333;
      text-decoration: none;
      transition: all 0.3s ease;
      border: 2px solid transparent;
      border-radius: 6px;
      padding: 4px;
    }

    .about-link {
      margin-right: 1rem;
    }

    a:hover {
      border-radius: 0;
      background: #f3f4f6;
    }
  }

  footer {
    display: flex;
    align-items: center;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }
</style>
